.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: #5a6469;
  padding: 10px 0 20px;

  .lg {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 20px;
  }
}